@use 'shadow';

.lane {
  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;

    > hgroup {
      h3 {
        display: inline;
        flex-shrink: 0;
        padding: 0.25rem 0.5rem;
      }

      p {
        display: inline;
      }
    }

    > .toolbar {
      display: flex;
      gap: 0.25rem;
    }
  }

  > ol {
    margin-top: 1rem;

    > li {
      + li {
        margin-top: 0.5rem;
      }

      > .default {
        padding: 0.5rem;
        width: 100%;
        border: 2px dashed grey;
      }
    }
  }
}