@use 'shadow';

.menu {
  position: relative;

  > [role="menu"] {
    background-color: white;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    box-shadow: shadow.box(2);

    &.top {
      top: 0;
      transform: translateY(-100%);
    }

    &.bottom {
      bottom: 0;
      transform: translateY(100%);
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}