.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tag-bg);
  color: var(--tag-text);
  border-radius: 0.25rem;
  padding: 0.125em 0.25em;
  gap: 0.25rem;
}