@use 'math';

.board {
  > ol {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;

    > li {
      flex-shrink: 0;
      width: math.pxToRem(320);
      scroll-snap-align: start;

      > article {
        padding: 0.5rem;
      }

      > button {
        padding: 0.5rem;
      }
    }
  }
}