@use 'shadow';

.card {
  box-shadow: shadow.box(1);
  padding: 0.5rem;
  background-color: var(--card);

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    > h4 {
      flex-shrink: 0;
      padding: 0.25rem 0.5rem;
    }

    > .actions {
      display: flex;
      gap: 0.5rem;
    }
  }

  > p {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
  }

  .categories {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;

    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .menu > ul > li {
      display: flex;

      p {
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }
}