@use 'shadow';

body > footer {
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--white-alt);

  .icon {
    font-size: 0.5em;
    margin-left: 0.25rem;
  }
  
  a {
    color: var(--black);
  }
}