.card {
  background-color: var(--white);
  padding: 0.5rem;

  > header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;

    .actions {
      display: flex;
    }
  }
}