*, *:before, *:after {
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100%;
  margin: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: unset;
  background-color: unset;
  color: inherit;
  padding: unset;
  cursor: pointer;

  &:disabled {
    cursor: initial;
  }
}
